* {
  /* border:1px black solid */
}

body {
  font-family: Roboto, sans-serif;
}

.containerMain {
  display: flex;
  border-radius: 5px;
  padding: 10px;
}

.containerLeft {
  flex-basis: 65%;
}

.containerRight {
  flex-basis: 35%;
}

.criminalContainer {
  display: flex;
  flex-wrap: wrap;
}

.officerContainer {
  display: flex;
  flex-wrap: wrap;
}

.filters {
  display: flex;
}

.note {
  font-size: 12px;
  border: 1px gray dotted;
  margin: 10px;
}

.noteFieldset {
  border: 0px;
  display: flex;
  flex-direction: column;
}

/* each criminal square is flexed row and wrapped */
/* margin is distance bet each card*/
/* fixed width so each card is equal */
.criminalCard {
  /* display: flex;
  flex-direction: column; */
  justify-content: center;
  width: 200px;
  border: 1px dotted gray;
  margin: 10px;
  padding: 8px;
}

/* data inside each square */
.criminalNames {
  font-size: 18px;
}

/* data inside each square */
.criminalData {
  font-size: 13px;
  margin: 0px;
  padding: 1px;
}
