body {
  font-family: Roboto, sans-serif;
}

.criminalContainer {
  display: flex;
  flex-wrap: wrap;
}

/* each criminal square is flexed row and wrapped */
/* margin is distance bet each card*/
/* fixed width so each card is equal */
.criminalCard {
  /* display: flex;
  flex-direction: column; */
  justify-content: center;
  width: 250px;
  border: 1px dotted gray;
  margin: 10px;
  padding: 8px;
}

/* data inside each square */
.criminalNames {
  font-size: 18px;
}

/* data inside each square */
.criminalData {
  font-size: 13px;
  margin: 0px;
  padding: 1px; */
}
