@import "modal.css";

* {
  /* border:1px black solid */
}

body {
  font-family: Roboto, sans-serif;
}

header{
  background-color: #c0e0de;
  padding: 5px;
  /* color: white; */
}
.containerMain {
  display: flex;
  /* border-radius: 5px; */
  padding: 10px;
  background-color: lightslategray;
}

.containerLeft {
  flex-basis: 65%;
}

.containerRight {
  flex-basis: 35%;
}

.criminalContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
}

.criminalContent {
  display: flex;
  flex-wrap: wrap;
}

.containerLeft__header{
  display: flex;
}

.officerContainer {
  display: flex;
  flex-wrap: wrap;
}

.filters {
  display: flex;
}

.note {
  font-size: 12px;
  /* border: 1px gray dotted; */
  padding: 5px;
  margin: 10px;
  background-color: #a2d2df;
  border-radius: 5%;
}

.noteFormContainer{
  background-color: honeydew;
  padding: 5px
}

.noteList{
  padding: 5px
}

.noteListButton{
  padding: 5px
}

.alibiList {
  width: 200px;
}

.associates {
  font-size: 12px;
  margin: 10px;
}

.noteFieldset {
  border: 0px;
  display: flex;
  flex-direction: column;
}

.errorMessage{
  color: red;
}

.criminalCard {
  justify-content: center;
  width: 140px;
  margin: 10px;
  padding: 8px;
  background-color: lightsteelblue;
  border-radius: 5%;
}

.witnessCard{
  justify-content: center;
  width: 240px;
  margin: 10px;
  padding: 8px;
  background-color: lightgoldenrodyellow;
  border-radius: 5%;
}

/* data inside each square */
.criminalNames .witness__name {
  font-size: 18px;
}

/* data inside each square */
.criminalData .witness__statements {
  font-size: 13px;
  margin: 0px;
  padding: 1px;
}
